<section id="projects">
<div class="container">
  <div class="row">
  <h1 style="color:#27A822">Zipcar</h1>
    <p class="text-left lead">In my time at Zipcar, I implemented a data pipeline using the ELK stack and then built realtime visualizations out of the data captured.</p>
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="{{ site.baseurl }}static/img/heatmap.jpg" alt="Heatmap">
          <div class="caption">
            <h3>Heat Map of Geocoded Searches</h3>
          </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="{{ site.baseurl }}static/img/res-ui.png" alt="Reservations Dashboard">
          <div class="caption">
            <h3>Application Dashboard summarizing usage</h3>
          </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="{{ site.baseurl }}static/img/load.png" alt="Database Load Dashboard">
          <div class="caption">
            <h3>Profiling how frequently an expensive database query is invoked</h3>
          </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="{{ site.baseurl }}static/img/juanway.jpg" alt="One Way">
          <div class="caption">
            <h3>Worked on the One Way team, building out a new API workflow and Responsive web app</h3>
          </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="{{ site.baseurl }}static/img/census.png" alt="Census Tract Map">
          <div class="caption">
            <h3>This is from an ongoing project, where the goal is to create an interactive census tract map with d3 and then correlate those to location assets.</h3>
          </div>
      </div>
    </div>

  </div>

  <div class="row">
    <h1>Prior Notable Work</h1>

    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <ul>
        <li class="text-left"><h4>Attended LISA '11 and <a href="https://www.usenix.org/publications/login/april-2012/reports-usenix-lisa-%E2%80%9911-25th-large-installation-system-administration">summarized</a> some of the talks I saw.</h4></li>
        <li class="text-left"><h4>Lead a workshop to teach <a href="http://thangnguyen.us/Python_Thang_Nguyen.pdf" target="_blank">introductory Python</a> to students while at Northeastern</h4></li>
        </ul>
      </div>
    </div>

  </div>
</div>
</section>
